// font-family: 'Lobster', cursive;
// font-family: 'Dosis', sans-serif;

// Color Variables
$primary-color: #2980b9;
$secondary-color: #666666;
$dark-color: #333;
$light-color: #dfdfdf;

// Size Variables
$navbar-height: 80px;
$footer-height: 60px;

// Utility Classes
.shadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.container {
  width: 100%;
  padding-top: 1rem;
}

* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: $footer-height;
}

.navbar {
  width: 100%;
  height: $navbar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $light-color;
  font-size: 2rem;

  .navbar__title {
    font-family: "Lobster", cursive;
    text-shadow: 2px 2px $dark-color;
  }
}

.categories {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .categories__title {
    padding-bottom: 2rem;
  }

  .categories__item {
    width: 85%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    border: 0;
    border-radius: 5px;
    background-color: $light-color;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
  }
}

.quiz {
  display: none;
}

.footer {
  width: 100%;
  height: $footer-height;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-color;
  color: $light-color;
  font-size: 1rem;

  a {
    text-decoration: none;
    color: $light-color;
  }

  a:hover {
    font-size: 1.2rem;
    transition: 0.3s;
  }
}
